@{
    ViewData["Title"] = "Home Page";
}

<section class="vh-100">

    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-5">
                <div class="card border-white text-white bg-white">

                    <img class="mx-auto d-block" src="https://suportamed.com/wp-content/uploads/2021/01/hospitalizacion-domiciliaria-icons-33.png" alt="Card image cap">
                </div>
                <div class="card-footer text-dark text-center bg-white">
                    Trijuanta
                </div>
            </div>

        </div>
    </div>
</section>