@model dotnet.Models.DB.Familiar

@{
    ViewData["Title"] = "Create";
}

<h1>Registrar Familiar</h1>

<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

                <div class="form-group col">
                    <label asp-for="TipoDocumento" class="control-label"></label>
                    <select asp-for="TipoDocumento" class="form-control">
                        <option value="CC">CC</option>
                        <option value="TI">TI</option>
                        <option value="RC">RC</option>
                        <option value="CE">CE</option>
                        <option value="NIP">NIP</option>
                        <option value="NUIP">NUIP</option>
                        <option value="NES ">NES </option>
                    </select>
                    <span asp-validation-for="TipoDocumento" class="text-danger"></span>
                </div>

                <div class="form-group col">
                    <label asp-for="Documento" class="control-label"></label>
                    <input asp-for="Documento" class="form-control" placeholder="Documento" />
                    <span asp-validation-for="Documento" class="text-danger"></span>
                </div>

            </div>

            <div class="row">

                <div class="form-group col">
                    <input asp-for="Nombres" class="form-control" placeholder="Nombres" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <input asp-for="Apellidos" class="form-control" placeholder="Apellidos" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>

            </div>

            <div class="row">

                <div class="form-group col">
                    <label asp-for="Sexo" class="control-label"></label>
                    <select asp-for="Sexo" class="form-control">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="I">Indefinido</option>
                    </select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Celular" class="control-label"></label>
                    <input asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

            </div>

            <div class="row">

                <div class="form-group col">
                    <a class="btn btn-outline-primary" asp-action="Index">Cancelar</a>
                </div>

                <div class="form-group col d-flex justify-content-end">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
